main{
    display:flex;
    margin: auto;
    height:100%;
    /* padding: 10px 0 10px 0; */
}
/* Game Screen */
.gameScreen{
    height: max-content;
    width:max-content;
    border:2px solid grey;
    margin:10px;
    min-width: 400px;
}

/* Move History */
.mhContainer{
    display:grid;
    grid-template-columns: 200px;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'title' 'body';
    text-align:center;
    background-color:whitesmoke;
    color: black;
    border:2px solid grey;
    margin:10px;
    min-height:100px;
    max-height:400px;
}
.moveHistory{
    grid-area: body;
    text-align:left;
    display:flex;
    flex-direction:column-reverse;
    justify-content:flex-end;
    margin: 0 auto;
    width:95%;
    max-width: 198px;
    overflow-y:scroll;
}
p{
    margin-left:2px;
    margin:0;
}
p#even{
    color:darkslategrey;
}
#title{
    grid-area: title;
    text-decoration:underline;
}
h2{
    margin: 5px auto;
    align-self: left;
    float: left;
}
#play{
    cursor:pointer;
    width:min-content;
}
div[disabled]{
    pointer-events: none;
    opacity: 0.7;
}
div[disabledC]{
    pointer-events: none;
    opacity: 0.7;
  }
/*----------Player Boxes----------*/
#player1{
    background-color: paleturquoise;
}
#playerC{
    background-color: palegreen;
}
.characterbox{
     border: 2px solid black;
     border-radius: 5px;
     margin: 5px auto;
     padding: 10px 5px;
     width: 95%;
     height: 60px;
     position: relative;
}
.char{
    margin-bottom: 10px;
}
.hpBar{
    background-color: green;
    width: 99.3%;
    height: 3px;
    border: 1px solid black;
}
/* actionbox */
.actionbox{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: .5fr .5fr;
    grid-gap:3px;
    width: 66%;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
button{
    box-shadow: 1.5px 2px #888888;
    border-radius:10px;
    cursor:pointer;
    text-decoration: none;
    outline:none;
    transform: scale(.95);
}
#attack{
    grid-row: 1;
    grid-column: 1;
}
#defend{
    grid-row: 1;
    grid-column: 2;
}
#recover{
    grid-row: 2;
    grid-column: 1;
}
#trick{
    grid-row: 2;
    grid-column: 2;
}


  