main{
    display:flex;
    margin: auto;
    height:100%;
}
.gameMain{
    align-items:center;
}
/*--------- Game Screen ---------*/
.gameScreen{
    height: max-content;
    width:max-content;
    /* border:2px solid grey; */
    margin:10px;
    min-width: 400px;
    box-sizing:border-box;
}
h2{
    margin: 5px auto;
    align-self: left;
    float: left;
}
#play{
    cursor:pointer;
    width:min-content;
}
div[disabled]{
    pointer-events: none;
    opacity: 0.7;
}
/*--------- Move History ----------*/
.mhContainer{
    display:grid;
    grid-template-columns: 200px;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'title' 'body';
    text-align:center;
    background-color:whitesmoke;
    color: black;
    border:2px solid grey;
    margin:10px;
    height:226px;
}
.moveHistory{
    grid-area: body;
    text-align:left;
    display:flex;
    flex-direction:column-reverse;
    justify-content:flex-end;
    margin: 0 auto;
    width:95%;
    max-width: 198px;
    overflow:scroll;
}
#title{
    grid-area: title;
    text-decoration:underline;
}
p{
    font-size:14px;
    margin-left:2px;
    margin:0;
}
p#odd{
    color:purple;
}
p#even{
    color:Green;
}
/*----------Player Boxes----------*/
#player1{
    background-color: paleturquoise;
}
#playerC{
    background-color: palegreen;
}
.characterbox{
    display:flex;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px 5px;
    width: 95%;
    height: 60px;
    position: relative;
}
.char{
    display:flex;
    flex-wrap:wrap;
    float:left;
    text-align:left;

    font-size:120%;
    max-width: 20%;
    height: 100%;
    margin:-10px 0 -0 5px;
    /* transform: scale(0.8); */
}
#hpBar{
    background-color: green;
    width: 64%;
    height: 10px;
    border: 1px solid black;
    border-radius:5px;
    position: absolute;
    top: 10px;
    right: 10px;
}
/*----------- actionbox -----------*/
.actionbox{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: .5fr .5fr;
    grid-gap:3px;
    width: 66%;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
button{
    box-shadow: 1.5px 2px #888888;
    border-radius:10px;
    cursor:pointer;
    text-decoration: none;
    outline:none;
    transform: scale(.95);
}
#attack{
    grid-row: 1;
    grid-column: 1;
}
#defend{
    grid-row: 1;
    grid-column: 2;
}
#recover{
    grid-row: 2;
    grid-column: 1;
}
#trick{
    grid-row: 2;
    grid-column: 2;
}
#randAction{
    transform: scale(1.8);
    margin:auto;
    margin-right:22%;
    margin-top:7%;
}


  