h1{
    color:white;
    margin: 10px auto;
}
h3{
    color: green;
    margin: 0 auto;
}

#header-link{
    color: lightblue;
    margin:5px auto;
}
/* Removes all text decoration from links */
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    cursor:pointer;
    color: purple;
}