.profile{
  display:flex;
  flex-direction:column;
}
.playerInfo{
  display:flex;
  flex-direction: column;
  color:white;
  background-color:grey;
  border:2px solid blue;
  width: max-content;
  padding: 5px;
}
/* Characters & Character block/card */
.characters{
  /* display:flex; */
  color:white;
  background-color:grey;
  border:2px solid white;
  padding-top:10px;
}

.characterInfo{
  width:max-content;
  border:2px solid black;
  border-radius:10px;
  background-color:whitesmoke;
  color:black;
  margin:10px;
  padding:0px 10px;
  line-height: 2vh;
}
#charName{
  font-style:bold;
  font-size: 4vh;
  text-decoration: underline;
}