/* .profileBlock{
  display:flex;
  flex-direction: space-between;
} */
/*------------ Profile -----------*/
.playerInfo{
  display:flex;
  flex-direction: column;
  justify-content:left;
  color:white;
  background-color:grey;
  border:2px solid white;
  width: max-content;
  height:max-content;
  min-height:250px;
  margin: 10px;
  /* margin:10px;
  margin-top:0; */
  padding: 0px 5px 0px 5px;
}
h1{
  margin: 0 auto;
}
/*----------- Characters ----------*/
#addCharForm{
  display:block;
  width:max-content;
  /* border:2px solid white; */
  margin: 0 auto;
  padding:3px;
}
.charactersBlock{
  display:flex;
  flex-direction:column;
  color:white;
  background-color:grey;
  border:2px solid white;
  height:max-content;
  min-height:250px;
  /* width:max-content; */
  max-width:400px;
  margin: 10px;
  padding: 0 5px 0 5px;
}
.characters{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
.characterInfo{
  display:flex;
  width:max-content;
  min-width:150px;
  border:2px solid black;
  border-radius:10px;
  background-color:whitesmoke;
  color:black;
  margin:10px;
  padding:5px;
  /* line-height: 2vh; */
  text-align:left;
}
#charName{
  /* text-align:center; */
  font-size:100%;
  font-weight:bold;
  text-decoration: underline;
  /* margin-bottom: 5px; */
}
span{
  font-weight:bold;
  font-size:90%;
}
.stat{
  align-content:right;
  width:50px;
  padding-left:3px;
  margin:0 auto;
  margin-left:5px;
  height:content;
  /* width:content; */
  /* text-align:center; */
}
/*----------- Other ----------*/
.button{
  transform:scale(.75);
  padding:2px 4px;
  box-shadow: 2px 2px black;
  border:0.5px solid black;
  border-radius:15px;
  padding: 0px 5px ;
  cursor:pointer;
  text-decoration: none;
  outline:none;
}
button{
  box-shadow: 2px 2px black;
}
.charCap{
  border:2px solid black;
  color:black;
  background-color:white;
  fill-opacity:0.5;
  border-radius: 5px;
  padding: 0 5px 5px 5px;
  margin:0 auto;
}
